.botao{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16ps;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    border-radius: 5%;
}